.weather .leftside {
  width: 20rem;
  height: 42rem;
}

.leftside .icon {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(240, 238, 238);
}
.icon .plus {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  padding-top: 2px;
}
.circle {
  width: 3.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.switch {
  width: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leftside .newtext {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(240, 238, 238);
}
.new h4 {
  text-shadow: 3em;
  font-size: 1rem;
  letter-spacing: 0.4px;
  word-spacing: 1px;
  padding-bottom: 5px;
}
.leftside .temp {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
